name: CI-CD-PIPELINE
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies and test
        run: |
          pip install -r requirements.txt
          pytest tests

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/flask-ci-cd:latest .

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Push image into DockerHub
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/flask-ci-cd:latest

      - name: Deploy to EC2
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          echo "$EC2_SSH_KEY" > private_key.pem
          chmod 600 private_key.pem
          ssh -o StrictHostKeyChecking=no -i private_key.pem ubuntu@$EC2_HOST '
            sudo docker pull '"${DOCKERHUB_USERNAME}"'/flask-ci-cd:latest &&
            sudo docker stop flask-ci-cd || true &&
            sudo docker rm flask-ci-cd || true &&
            sudo docker run -d -p 80:5000 --name flask-ci-cd '"${DOCKERHUB_USERNAME}"'/flask-ci-cd:latest
          '

